<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>{{TARGET_FRAMEWORK}}</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
    <IsPackable>false</IsPackable>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="{{PIN_MICROSOFT_NET_TEST_SDK}}" />
    <PackageReference Include="xunit" Version="{{PIN_XUNIT}}" />
    <PackageReference Include="xunit.runner.visualstudio" Version="{{PIN_XUNIT_RUNNER_VISUALSTUDIO}}" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="..\..\src\{{CSHARP_NAMESPACE}}\{{CSHARP_NAMESPACE}}.csproj" />
  </ItemGroup>

</Project>
