[package]
name = "{{PROJECT_NAME}}"
version = "0.1.0"
edition = "{{PIN_RUNTIME_RUST_EDITION}}"
description = "{{DESCRIPTION}}"
repository = "{{REPO_URL}}"

[dependencies]

[dev-dependencies]
# Add testing helpers here if needed
